<div class="row">
  <% @battlestations.each do |battlestation| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <h4 class="text-center"> <%= link_to battlestation.name, battlestation_path(battlestation) %></h4>
    </div>
  <% end %>
</div>