<div class="row">
  <% @battlestations.each do |battlestation| %>
    <div class="col-md-4">
      <h4 class="text-center">
      <%= link_to battlestation.name, battlestation_path(battlestation) %>
      <%= link_to image_tag(battlestation.image, class: "img-responsive"), battlestation_path(battlestation) %></h4>
    </div>
  <% end %>
</div>

