<%= @battlestation.name %><br>
<%= @battlestation.user.username %><br>

<div style="width:600px; height:600px;">
  <%= image_tag(@battlestation.image, style:'width:100%; height: auto') %> <br>
</div>
